{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--Main layout-->
    <main class="d-flex flex-column">
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
                <!-- Container wrapper -->
                <div class="container-fluid">

                    <!-- Navbar brand -->
                    <a class="navbar-brand">Categories:</a>

                    <!-- Toggle button -->
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#navbarSupportedContent2"
                            aria-controls="navbarSupportedContent2"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <!-- TODO -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <!-- Link -->
                            <li class="nav-item acitve">
                                <a class="nav-link text-white" href="#">All</a>
                            </li>
                            {#                            <li class="nav-item">#}
                            {#                                <a class="nav-link text-white" href="#">Components</a>#}
                            {#                            </li>#}
                        </ul>

                        <!-- TODO -->
                        <!-- Search -->
                        <form class="w-auto py-1" style="max-width: 12rem">
                            <input type="search" class="form-control rounded-0" placeholder="Search"
                                   aria-label="Search">
                        </form>

                    </div>
                </div>
                <!-- Container wrapper -->
            </nav>

            <!-- Products -->
            <section>
                <div class="d-flex flex-wrap justify-content-center text-center gap-4 mt-4">
                    {% for item in items %}
                        <div class="item-box border rounded p-3 d-flex flex-column align-items-center justify-content-between"
                             style="width: 250px; height: 350px;">
                            <!-- Item Image -->
                            <div class="bg-image mb-3 hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light"
                                 style="height: 150px; width: 100%; overflow: hidden;"
                                 href="{% url 'product-page' pk=item.pk %}">
                                {% if item.image %}
                                    <img src="{{ item.image.url }}" alt="no-image-available" class="img-fluid"
                                         style="max-height: 100%; max-width: 100%; object-fit: cover;"/>
                                {% else %}
                                    <img src="{% static 'img/default-item-image.jpg' %}" alt="no-image-available"
                                         class="img-fluid"
                                         style="max-height: 100%; max-width: 100%; object-fit: cover;"/>
                                {% endif %}
                                <a href="{% url 'product-page' pk=item.pk %}">
                                    <div class="mask">
                                        <div class="d-flex justify-content-start align-items-end h-100">
                                            <h5><span
                                                    class="badge bg-{{ item.get_label_display }} ms-2 p-1"
                                                    style="font-size: 0.7rem">{{ item.get_label_text }}</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="mask"
                                             style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>

                            <!-- Item Title -->
                            <a href="{% url 'product-page' pk=item.pk %}" class="text-reset text-decoration-none">
                                <h5 class="card-title mb-2">{{ item.title|truncatechars:40 }}</h5>
                            </a>

                            <!-- Item Category -->
                            <p class="text-muted">{{ item.category }}</p>

                            <!-- Item Price -->
                            <h6 class="mb-3 price">${{ item.price }}</h6>

                            <!-- View Details Button -->
                            <div class="mt-auto">
                                <a href="{% url 'product-page' pk=item.pk %}" class="btn btn-outline-primary btn-sm">
                                    View Details
                                </a>
                            </div>
                        </div>

                    {% empty %}
                        <h1>No items to show at this time.</h1>
                    {% endfor %}
                </div>
            </section>

            <!-- Pagination -->
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                <ul class="pagination">
                    <!-- Previous Page -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous" tabindex="-1">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Page Numbers -->
                    {% for page_num in paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Next Page -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next" tabindex="-1">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>
{% endblock %}